<mat-card *ngIf="build" class="example-card">
  <mat-card-header>
    <mat-card-title>{{'device.title' | translate}} {{build.device}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <table class="mat-table">
        <tr class="mat-row ng-star-inserted">
          <td
            class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{'version.column' | translate}}</td>
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{build.version}}</td>
        </tr>
        <tr class="mat-row ng-star-inserted">
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{'file.column' | translate}}</td>
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{build.filename}}</td>
        </tr>
        <tr class="mat-row ng-star-inserted">
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{'ipfs.column' | translate}}</td>
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{build.ipfs}}</td>
        </tr>
        <tr class="mat-row ng-star-inserted">
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{'size.column' | translate}}</td>
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{build.size}}</td>
        </tr>
        <tr class="mat-row ng-star-inserted">
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{'date.column' | translate}}</td>
          <td class="mat-cell cdk-column-device mat-column-device ng-star-inserted">{{build.date}}</td>
        </tr>
      </table>
      <div>
        <button (click)="goBack()" color="primary" mat-raised-button>{{'back.button' | translate}}</button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
